
# Nodemailer SMTP Configuration
MAIL_FROM=contact@example.com
SMTP_HOST=smtp.example.com
SMTP_PORT=465
SMTP_USER=contact@example.com
SMTP_PASS=your-password-here
MAIL_TO=recipient@example.com

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
